.button {
  border-radius: 6px;
  padding: 8px 30px;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.25s;
  color: var(--white-color);
  font-size: 16px;
  border: none;
}
.button {
  background-color: var(--primary-color);
}

.accent:hover {
  background-color: var(--primary-hover-color);
}

.big-button {
  width: 248px;
  height: 60px;
  border-radius: 28.5px;
  box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
  font-size: 15px;
  font-weight: 600;
  align-self: center;
}
