.footer {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.title {
  color: rgb(91, 91, 94);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.link {
  color: #fe724c;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
