.headling {
  margin-top: 39px;
  margin-bottom: 41px;
}

.line {
  max-width: 512px;
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
}

.hr {
  margin: 0;
  border: 1px solid #f1f2f3;
}

.count {
  color: rgb(190, 190, 190);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.currency {
  color: rgb(151, 150, 161);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.checkout {
  max-width: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.not-order {
  text-align: center;
  margin-top: 10px;
}
