.input {
  padding: 16px 30px 16px 44px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  height: 51px;
  background: rgb(252, 252, 253);
}

.noactive {
  background: url("/public/searhe.svg") no-repeat 15px center;
}

.active {
  background: "";
}
