:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #ad482c;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
  height: 100%;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
